*{
    padding: 0;
    margin: 0;
}

.sidebar{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}
.main{
    margin-left: 160px;
}

.inputs{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}

.sidebar li a {
    color: white;
    text-decoration: none;
}
#sidebarH1{
    color: wheat;
}
